.MN400_DIV{
    margin: 30px;
}

h1{
    font-size:25px;
    color: black;
}
.buttonBox{
    position:absolute;
    right: 3.5%;
}
.buttonBox button{
    display: inline-block;
    width: auto;
    margin: 10px;
    background-color: #A2FFFF;
    border: 0;
    outline: 0;
}
.table{
    text-align: center;
}
table.type11 {
    width: 95%;
    min-width: 500px;
    border-collapse: separate;
    border-spacing: 2px solid #000000;
    text-align: center;
    line-height: 1.5;
    margin: 5% 2.5%;
    }
    table.type11 th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #3D3D3D;
    background: #A2FFFF ;
    }
    table.type11 td {
    padding: 5px;
    vertical-align: top;
    border-bottom: 1px solid #000000;
    background: #ffffff;
    }
    table.type11 td input{
        border: 0;
        outline: 0;
    }