.nav{
  padding-left: 20px;
  text-align: center;
  box-shadow: 0px 3px 10px 0px rgba(32,30,41,0.3);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2a2736;
}

li {
  float: left;
  display: inline;
}

.nav .home, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li .home{
  background-color: #807c8f;
  font-size: large;
  color: rgb(0, 0, 0);
}

li Link.menu:hover, .dropdown:hover .dropbtn {
  background-color: #c8c4d8;
  color: #2a2736;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #2a2736;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .menu {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content .menu:hover {
  background-color:#c8c4d8;
  color: #2a2736;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.right{
  position : absolute;
  color: white;
  right: 200px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;  
}

.right p{
  text-align: right;
  display: inline;
  font-size: 13px;
}

.myInfo {
  position : absolute;
  color: white;
  right: 90px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.vl1 {
  position: absolute;
  border-left: 1px solid #f9f4ff;
  right: 200px;
  height: 25px;
  text-align: center;
  top: 15px;  
}

.vl2 {
  position: absolute;
  border-left: 1px solid #f9f4ff;
  right: 93px;
  height: 25px;
  text-align: center;
  top: 15px;  
}

.logOut {
  position : absolute;
  color: white;
  right: 0px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

.myInfo:hover, .logOut:hover {
  color: #807c8e;
}